.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

table {
   
    border: 1px solid #000; 
    background: orange;
    
  }
  
td, th {
    border: 1px solid #000; 
    padding: 4px; 
    text-align: center;
  }

